
.sideMenu {
    @include position(absolute, 0, auto, 0, 0);
    width: 960px;
    z-index: 1000;
    margin: 0;
    left: -200%;
    padding: 0px 0 30px 80px;
    overflow: hidden;
    @media (max-width: 1100px) {
        padding: 0px 0 30px 40px;
        width: 500px;
    }
    @media (max-width: 650px) {
        width: 300px;
    }
    @media (max-width: 600px) {
        width: 100%;
        padding: 0px 0 30px 20px;
    }
    @include mh700 {
        
    }
    .wrapper {
        position: relative;
        z-index: 10;
        width: 100%;
        height: 100%;
        opacity: 0;
    -webkit-transition: opacity .2s .4s;
       -moz-transition: opacity .2s .4s;
        -ms-transition: opacity .2s .4s;
         -o-transition: opacity .2s .4s;
            transition: opacity .2s .4s;
        &:after {
            display: block;
            content: '';
            width: 15px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 21;
            background: #FFF;
            -webkit-box-shadow:  0 0 120px 100px rgba(255,255,255,1);
            -moz-box-shadow: 0 0 120px 100px rgba(255,255,255,1);
            box-shadow:  0 0 120px 100px rgba(255,255,255,1);
        }
        @media (max-width: 1100px) {
            &:after {
                -webkit-box-shadow:  0 0 10px 10px rgba(255,255,255,1);
                -moz-box-shadow: 0 0 10px 10px rgba(255,255,255,1);
                box-shadow:  0 0 10px 10px rgba(255,255,255,1);
            }
        }
    }
    
        /*.................media.............*/

        footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 30px;
            margin: 0 0px 30px 0px;
            padding-right: 80px;
            text-align: left;
            .builtAt {
                float: right;
                font: 13px $mm;
                text-transform: uppercase;
                position: relative;
                z-index: 22;
                span {
                    color: #ff7214;
                }
            }
            @include mh800 {
                margin: 0 0px 0px 0px;
            }
            @media (max-height: 600px) {
                position: static;
                margin-top: 20px;
            }
             @media (max-width: 600px) {
                padding-right: 0;
                 .builtAt {
                    float: none;
                    display: block;
                    margin-top: 10px;
                    text-align: left;
                }
             }
        }
        /*.............end media..............*/
}

.social {
    display: inline-block;
    &__item {
        background-image: url("../images/social_icons.png");
        display: inline-block;
        vertical-align: middle;
        margin-right: 17px;
        width: 17px;
        height: 16px;
        background-repeat: no-repeat;
        &--fb {
            background-position: 0 0;
        }
        &--tw {
            background-position: -59px 0;
            width: 22px;
        }
        &--vm {
            background-position: -27px 0px;
            width: 19px;
        }
        &--inst {
            background-position: -96px 0;
            width: 22px;
            margin-right: 0;
        }
    }
}
.circle {
    width: 1px;
    height: 1px;
    background-color: #FFF;
    position: absolute;
    top: 0; bottom: 0;
    left: -30%; 
    margin: auto;
    -webkit-transition: all .6s;
       -moz-transition: all .6s;
        -ms-transition: all .6s;
         -o-transition: all .6s;
            transition: all .6s;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
/* ------------------------------------ */
/*  NAV STYLES  */
.mainNav {
    text-align: left;
    padding-top: 0px;
    &:before {
        content: "";
        display: block;
        background-image: url("../images/before.png");
        background-position: 50% 100%;
        width: 6px;
        height: 145px;
        bottom: 100%;
        left: 0;
        @media (max-width: 1100px) {
            height: 100px;
        }
        @media (max-width: 600px) {
        }
    }
    .heading {
        font: 13px $mb;
        color: $brown;
        text-transform: uppercase;
        position: relative;
        padding-top: 10px;
    }
    ul {
        margin-top: 75px;
        list-style-type: none;
        counter-reset: ul;
        padding-bottom: 92px;
        border-bottom: 1px solid #888;
        @include mh800 {
            padding-bottom: 40px;
        }
        @include mh700 {
            margin-top: 20px;
            padding-bottom: 20px;
        }
        li {
            a {
                display: inline-block;
                text-decoration: none;
                font: 26px/50px $pdb;
                color: $grey;
                @include transition(all, .2s);             
                &:hover {}
            }
            a:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                counter-increment: ul;                /* Increment the section counter*/
                content: "0" counter(ul) "."; 
                margin-right: 14px;
                font: 22px $pdb;
                color: #888888;
                margin-bottom: 4px;
            }
            @media (max-height: 600px) {
                a {
                    font: 22px/45px $pdb;
                    a:before { 
                        font-size: 20px;
                    }
                }
            }
        }

            /*.................media.............*/
            /*.............end media.............*/
    }
}

/* ------------------------------------ */
/*  Sidebar STYLES  */
.sidebar {
    z-index: 1000;
    background-color: #FFF;
    width: 140px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    right: auto;
    -webkit-animation: mymove .5s forwards; /* Chrome, Safari, Opera */
    animation: mymove .5s forwards;
    -webkit-transition: .4s;
       -moz-transition: .4s;
        -ms-transition: .4s;
         -o-transition: .4s;
            transition: .4s;
    @media (max-width: 800px) {
        width: 100px;
    }
    @media (max-width: 600px) {
        width: 100%;
        right: auto;
        height: 80px;
        img {
            height: 100%;
            width: auto;
        }
    }
    img {
        max-width: 100%;
    }
    .copyright {
        position: absolute;
        bottom: 30px;
        width: 200px;
        left: 80px; right: 0;
        margin: auto;
        font: 13px $mm;
        -webkit-transform: rotate(-90deg);
           -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
             -o-transform: rotate(-90deg);
                transform: rotate(-90deg);
        -webkit-transform-origin: left bottom;
           -moz-transform-origin: left bottom;
            -ms-transform-origin: left bottom;
             -o-transform-origin: left bottom;
                transform-origin: left bottom;
        @media (max-width: 700px) {
            left: 60px
        }
        @media (max-width: 600px) { 
            display: none;
        }
    }
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes move {
    0% {left: 0;}
    30% {left: -200px;}
    31% {right: -100%; left: auto;}
    32% {right: -100%; left: auto;}
    90% {right: 0; left: auto;}
    100% {right: 0; left: auto;}
} 

/* Standard syntax */ 
@keyframes move {
    0% {left: 0;}
    30% {left: -200px;}
    31% {right: -100%; left: auto;}
    32% {right: -100%; left: auto;}
    90% {right: 0; left: auto;}
    100% {right: 0; left: auto;}
}

@-webkit-keyframes moveBack {
    0% {right: 0;}
     70% {right: -200px; left: auto;}
    75% {left: -200px; right: auto;}
    100% {left: 0; right: auto;}
} 
/* Standard syntax */ 
@keyframes moveBack {
    0% {right: 0; left: auto;}
    70% {right: -200px; left: auto;}
    75% {left: -200px; right: auto;}
    100% {left: 0; right: auto;}
}
@media (max-width: 800px){
    /* Chrome, Safari, Opera */ 
    @-webkit-keyframes move {
        0% {left: 0;}
        60% {left: -100px;}
        61% {right: -100%; left: auto;}
        62% {right: -100%; left: auto;}
        90% {right: 0; left: auto;}
        100% {right: 0; left: auto;}
    } 

    /* Standard syntax */ 
    @keyframes move {
        0% {left: 0;}
        60% {left: -100px;}
        61% {right: -100%; left: auto;}
        62% {right: -100%; left: auto;}
        90% {right: 0; left: auto;}
        100% {right: 0; left: auto;}
    }
}


/* ------------------------------------ */
/*  MENU BUTTON  */
.menu-button     {    
    display: block;
    width: 50px;
    height: 25px;
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    position: relative;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; right: 0;
    margin: auto;
    border: none;
    background: transparent;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    @media (max-width: 600px) {
        left: auto;
        right: 20px;
    }
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 3px;
        background-color: #333333;
        @include transition(all, .4s);
    }

    .top_line              {   top: 0px;  margin: auto;}
    .middle_line           {   top: 11px;  margin: auto;}
    .bottom_line           {   bottom: 0px; margin: auto;}

    &.active               {  }
    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}

        /*.................media.............*/
        @include m800 {
            display: block;
        }
        /*..............end media.............*/

}

.advantagestSlider {
    list-style-type: none;
    margin-top: 70px;
    text-align: left;
    opacity: 1;
    li {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        width: 250px;
        position: relative;
        margin-right: 25px;
        margin-bottom: 40px;
        padding-left: 20px;
        @include mh700 {
            margin-bottom: 10px;
        }
        &:before {
            content: "";
            display: block;
            width: 7px;
            height: 7px;
            background-color: #878787;
            position: absolute;
            left: -0px;
            top: 6px;
        }
        span {
            font: 13px $mb;
            text-transform: uppercase;
            display: inline-block;
            margin-bottom: 15px;
            color: #878787;
        }
        p {
            font: 13px/20px $mm;
            color: #555555;
        }
        &:hover {
            &:before {
                color: $brown;
            }
            span {
                color: $brown;
            }
        }
    }
    .slick-dots {
        position: static;
        margin: 4px 0 0;
    }
    .slick-dots li {
        width: auto;
        margin: 0 5px;
        &.slick-active {
            opacity: .4;
        }
    }
    .slick-dots li:before {
        -webkit-border-radius: 50%;
                border-radius: 50%;
    }
    .slick-dots li button {
        display: none;
    }
    @include mh800 {
        margin-top: 40px;
    }
    @include mh700 {
        margin-top: 20px;
    }
}