.services-link {
	position: absolute;
	bottom: 40px;
	color: $blue;
	font-size: 16px;
	text-decoration: underline;

	@media ($tablets) {
		position: static;
		margin-top: 25px;
		display: inline-block;
	}

	&:before {
		content:'';
		width: 17px;
		height: 17px;
		background-image: url(../images/info.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 100%;
		display: inline-block;
		vertical-align: middle;
		margin-top: -4px;
		margin-right: 5px;
	}
}

.viewport .column--content {
	padding-bottom: 80px;
}