.heading--gallery {
	font-size: 13px;
	text-transform: uppercase;
	font-family: $mb;
	color: $brown;
	margin-bottom: 74px;
	position: absolute;
	top: 0;
	left: 60px;
	z-index: 10;

	@media ($phones) {
		display: none;
	}

	&:before {
		content: "";
		display: block;
		margin-bottom: 17px;
		background-image: url("../images/before.png");
		background-position: 50% 100%;
		width: 7px;
		height: 145px;
	}
}

.slider--gallery {
	height: 100%;
	.slide {
		padding: 240px 0 0 60px;

		@media ($phones) {
			padding-left: 20px;
			padding-top: 60px;
		}
		&__title {
			font-size: 30px;
			color: #fff;
			font-family: $pdb;
			width: 600px;
			line-height: 40px;

			@media ($tablets) {
				width: 100%;
				padding-right: 60px;
			}
			@media ($phones) {
				padding-right: 20px;
				font-size: 25px;
				line-height: normal;
			}
		}
	}

	.slick-prev {
		left: 60px!important;

		@media ($phones) {
			left: 20px!important;
		}
	}
	.slick-next {
		left: 130px!important;

		@media ($phones) {
			left: 90px!important;
		}
	}
}