.heading--gallery {
	font-size: 13px;
	text-transform: uppercase;
	font-family: $mb;
	color: $brown;
	margin-bottom: 74px;
	position: absolute;
	top: 0;
	left: 200px;
	z-index: 10;

	&:before {
		content: "";
		display: block;
		margin-bottom: 17px;
		background-image: url("../images/before.png");
		background-position: 50% 100%;
		width: 7px;
		height: 145px;
	}
}

.slider--gallery {
	.slide {
		padding: 240px 0 0 60px;
		&__title {
			font-size: 30px;
			color: #fff;
			font-family: $pdb;
			width: 600px;
			line-height: 40px;
		}
	}
}