.rooms {
    @include flex($justify: center, $wrap: wrap);
    padding-top: 40px;
    margin-top: 45px;
    border-top: 1px solid #d7dbd9;
}
.room {
    margin: 0 10px 0px 10px;
    background-color: #FFF;
    cursor: pointer;
    position: relative;
    + hr {
        display: block;
        width: 100%;
        margin: 45px 0;
    }
    &:hover {
        -webkit-box-shadow: 0 0 20px rgba(0,0,0, .1);
        box-shadow: 0 0 20px rgba(0,0,0, .1); 
    }
    @media (max-width: 1100px) {
        width: 300px;
    }
    &__img {
        height: 270px;
        position: relative;
        img {
            max-width: 100%;
        }
        @media (max-width: 1100px) {
            height: 204px;
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            background-color: rgba(106,53,0, .5);
            -webkit-transition: visibility 0s, opacity .2s;
               -moz-transition: visibility 0s, opacity .2s;
                -ms-transition: visibility 0s, opacity .2s;
                 -o-transition: visibility 0s, opacity .2s;
                    transition: visibility 0s, opacity .2s;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            background-image: url("../images/expand_icon.png");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            -webkit-transition: visibility 0s, opacity .2s;
               -moz-transition: visibility 0s, opacity .2s;
                -ms-transition: visibility 0s, opacity .2s;
                 -o-transition: visibility 0s, opacity .2s;
                    transition: visibility 0s, opacity .2s;
        }
    }
    &__info {
        padding: 25px 20px 20px;
        > h3 {
            font: 13px $mb;
            text-transform: uppercase;
            color: #858585;
            @include transition(all, .2s);
            &:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
                width: 7px;
                height: 7px;
                background-color: #858585;
                @include transition(all, .2s);
            }
        }
        @media (max-width: 750px) {
            padding: 15px 14px 10px;
        }
        &__include {
            margin-top: 25px;
            padding-top: 20px;
            border-top: 1px solid #d7dbd9;
            font-size: 16px;
            @media (max-width: 750px) {
                    font-size: 14px;
                }
            span {
                display: inline-block;
                vertical-align: middle;
            }
            &__count {
                &:before {
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 4px;
                    margin-right: 4px;
                    content: "";
                    background-image: url("../images/person_icon.png");
                    width: 16px;
                    height: 19px;
                    background-repeat: no-repeat;
                }
                &:after {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 2px 0 4px;
                    content: "/";
                }
            }
            &__rent {
                float: right;
                color: #51BCEA;
                font-size: 22px;
                &:after {
                    display: inline-block;
                    margin-left: 4px;
                    content: "";
                    background-image: url("../images/currency__icon.png");
                    width: 23px;
                    height: 16px;
                    background-repeat: no-repeat;
                }
            }
        }

        &__details {
            border-radius: 50%;
            position: absolute;
            height: 100%;
            width: 100%;
            padding-left: 140px;
            background-color: #FFF;
            z-index: 100;
            right: 0;
            top: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            -webkit-transform: scale(0);
               -moz-transform: scale(0);
                -ms-transform: scale(0);
                 -o-transform: scale(0);
                    transform: scale(0);
            @media (max-width: 991px) {
                bottom: auto;
            }
            .column {
                display: none;
            }
            @media (max-width: 800px) {
                padding-left: 100px;
            }
            @media (max-width: 750px) {
                padding-left: 0px;
                padding-top: 80px;
            }
            h2 {
                font-size: 30px;
                margin-top: 80px;
                text-transform: uppercase;
            }

            .roomslider {
                @extend .slider;
            }
        }
    }
    &:hover {
        .room__img {
            &:before,
            &:after {
                visibility: visible;
                opacity: 1;
            }
        }
        .room__info {
            > h3 {
                color: $brown;
                &:before {
                    background-color: $brown;
                }
            }
        }
    }
}

.back {
    float: right;
    background: none;
    border: none;
    color: #aaaaaa;
    font: 13px $mb;
    text-transform: uppercase;
    i {
        margin-right: 5px;
    }
}