.slick-slider .slick-track,
.slick-slider .slick-list {
	height: 100%;
	position: relative;
	z-index: 10;
}
.slider {
	height: 100%;
	position: relative;
	margin-bottom: 0;

	@media ($tablets) {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.slide {
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
	}

	.slick-arrow {
		bottom: 40px;
		top: auto;
		margin-top: 0;
		z-index: 20;
		width: 60px;
		height: 60px;
		background-color: #fff;
		border-radius: 50%;
		overflow: hidden;
		display: block;
		opacity: 1;
		visibility: visible;

		@media ($phones) {
			bottom: 20px;
		}

		&:before {
			font-family: unset;
			color: $brown;
			font-size: 25px;
			line-height: 15px;
		}

		&.slick-prev {
			left: 80px;

			@media ($phones) {
				left: 20px;
			}
		}
		&.slick-next {
			left: 150px;

			@media ($phones) {
				left: 90px;
			}
		}
	}

	.counter {
		position: absolute;
		bottom: 110px;
		left: 80px;
		color: #fff;
		font-size: 35px;
		font-family: $pdr;
		z-index: 20;

		span {
			color: #fff;
		}

		@media ($phones) {
			left: 20px;
			bottom: 90px;
		}
	}
}