.viewport {
	&--flex {
		@include flex($wrap: wrap);
	}

	.column {
		width: 50%;
		height: 100%;
		overflow: hidden;

		&--content {
			background-color: #F2F5ED;
			padding: 0 45px 60px 50px;
		}

		&--full {
			width: 100%;
		}

		&--media {
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
	}
}